<p style="color: green"><%= notice %></p>

<%= render @book %>

<div>
  <%= link_to "Edit this book", edit_book_path(@book) %> |
  <%= link_to "Back to books", books_path %>
  <%= link_to "Go to see Reader", readers_path %>

  <%= button_to "Destroy this book", @book, method: :delete %>
</div>
